@{
    ViewData["Title"] = "Delete";
}

<h2>Confirm Deletion</h2>

<form method="post" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Forms" class="btn btn-primary">Cancel</a>

    
 
</form>