@{
    ViewData["Title"] = "New Movie Form";
}
@model Mission6steelea3.Models.MovieFormResponse

<h1>Fill out a form for a new movie</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="FormId">FormId:</label>
        <input required="required" asp-for="FormId" /><br />

        <label asp-for="Title">Movie Title:</label>
        <input required="required" asp-for="Title" /><br />

        <label asp-for="Year">Movie Year:</label>
        <input required="required" asp-for="Year" /><br />

        <label asp-for="Director">Movie Director:</label>
        <input required="required" asp-for="Director" /><br />

        <label asp-for="Rating">Movie Rating:</label>
        <select required="required" asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br />

        <label asp-for="Edited">Was the movie Edited?:</label>
        <select asp-for="Edited">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select><br />

        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" /><br />

        <label asp-for="Notes">Movie Notes:</label>
        <input maxlength="25" asp-for="Notes" /><br />

        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.cat)
            {
                <option value="@c.CategoryId">@c.Categories</option>
            }
        </select>

        <button type="submit">Submit movie</button>

    </form>
</div>