<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div>
        @RenderBody()
        <br />
    </div>


    <div>
        <a asp-controller="Home" asp-action="Index">Home Page</a><br />
        <a asp-controller="Home" asp-action="MovieForm">Fill out new movie form</a><br />
        <a asp-controller="Home" asp-action="Podcast">Check out my podcast</a>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Forms">View Movies</a><br />
    </div>
</body>
</html>
